ul {
    display: flex;
    justify-content: space-evenly  ;
    list-style: none;
    background-color: black;
}

li {
    padding: 5px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: white;
    color: black;
    padding: 8px;
    transition: 250ms;
}

main {
    display: flex;
    margin: 10px;
    padding: 10px;
}

img {
    width: 180px;
    margin: auto;
}

#imagem {
    /* background-color: lightblue; */
    /* width:"20%"; */
    /* height:"20%"; */
}

#dados {
    /* background-color: lightcoral; */
    width: 80%;
    height: 80%;
    color: green;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}

span {
    color: black;
    font-weight: bold;
    border-bottom: 1px solid;
    margin: 15px;
}

p {
    background-color: palegreen;
    /* border: 1px dashed; */
    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
th {
    background-color: green;
    color: white;
}